<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Adicionar encontro</title>
</head>
<body>
    <p>{{msg}}</p>
    <form action="/adicionarencontro" method="post">
        <p>Digite a data do seu encontro:</p>
        <input type="text" name="data" placeholder="Digite a data">
        <br>
        <p>Digite o turno do encontro:</p>
        <input type="text" name="horario" placeholder="Digite o turno">
        <br>
        <p>Digite o local do encontro:</p>
        <input type="text" name="local" placeholder="Digite o local">
        <br> <br>
        <button type="submit">Enviar</button>
    </form>

</body>
</html>