<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Adicione catecumeno</title>
</head>
<body>
    <p>{{msg}}</p>
    <form action="/adicionarcatecumeno" method="post">
        <p> Digite o nome completo:</p>
        <input type="text" name="nome" placeholder="Digite o nome">
        <br>
        <p> Digite a data de nascimento:</p>
        <input type="text" name="datadenascimento" placeholder="Digite a data de nascimento">
        <br>
        <p> Digite o nome do bairro:</p>
        <input type="text" name="bairro" placeholder="Digite o bairro que reside">
        <br> <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>