<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="..//static//login.css">
</head>
<body>
<h1>Faça login</h1>
    <form action="/adicionarusuario" method="post">
        <input type="text" name="email" placeholder="digite email"><br><br>
        <input type="password" name="senha" placeholder="digite senha"><br><br>
        <input type="text" name="tipo" placeholder="digite o tipo de usuario"><br><br>
        <input type="text" name="pastoral" placeholder="digite a pastoral"><br><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>