<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>bem vindo</title>
    <link rel="stylesheet" href="..//static//css//home//menu.css">
</head>
<body>
    <div class="cabecario">
    <h1>SEJA BEM VINDO!</h1>
    <h2>Escolha a sua pastoral!</h2>
    </div>
    <div class="opcoes">
    <a href="/batismo"><img src="../static/imagens/batismo.png" height="127" width="99"></a>
    <a href="/catecumenato"><img src="../static/imagens/catecumenato.png" height="127" width="99"></a>
    <a href="/coroinhas"><img src="../static/imagens/coroinhas.png" height="127" width="99"></a>
    <a href="/liturgia"><img src="../static/imagens/liturgia.png" height="127" width="99"></a>
    <a href="/pascom"><img src="../static/imagens/pascom.png" height="127" width="99"></a>
    <a href="/terco"><img src="../static/imagens/terco.png" height="127" width="99"></a>
    </div>
    <div class="voltar">
        <br><br>
        <a href="/paginainicial">Voltar</a>
    </div>
</body>
    <div class="rodape">
        <p>Paróquia da Sagrada Família - Tenente Ananias/RN</p>
        <p>Diocese de Santa Luzia - Mossoró/RN</p>
    </div>

</html>