<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Coroinhas</title>
    <link rel="stylesheet" href="..//static//css//coroinhas//coroinhas.css">
</head>
<body>
    <div class="comeco">
        <h1>PASTORAL DOS COROINHAS</h1>
    </div>
    <p>"Em tudo servir a Deus com amor e alegria"</p>
    <div class="opcoes">
        <div class="listarescala">
            <a href="/mostrarlistarescala" target="meuiframe">Escala do mês</a>
        </div>
        <br>
        <div class="listarreuniao">
            <a href="/mostrarlistarreuniao" target="meuiframe">Datas de reunião</a>
        </div>
        <br>
        <div class="listarsubs">
            <a href="/mostrarlistarsubs" target="meuiframe">Substituições</a>
        </div>
        <br>
        <div class="voltar">
            <a href="/menu">Voltar</a>
        </div>
        <br>
    </div>
    <br>
    <iframe name="meuiframe" width="100%" height="400px"></iframe>
    <!-- lista com os coroinhas do mês -->
    <!-- lista com as datas de reuniões (data, horário e local)-->
    <!-- lista de substituição (nome, data, turno) -->

    <div class="rodape">
        <p>Paróquia da Sagrada Família - Tenente Ananias/RN</p>
        <p>Diocese de Santa Luzia - Mossoró/RN</p>
    </div>
</body>
</html>