body{
    background-color: floralwhite;
    color: #270808;
}

.cabecario{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.corpo{
    ,
}

.escolhap{
    text-align: center;
    border: solid 2px #270808;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30%;
    margin: 0 auto;
    box-sizing: border-box
}
a {
    text-decoration: none;
    color: #270808;
}

button {
    padding: 8px 40px; /* Espaçamento interno do botão */
    border: solid 1px; /* Remove a borda padrão */
    border-radius: 5px; /* Borda arredondada */
    background-color: floralwhite; /* Cor de fundo do botão */
    color: #270808; /* Cor do texto do botão */
    font-size: 13px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

input {
    padding: 5px 40px;
    background-color: floralwhite;
    border: solid 1px;
    border-radius: 5px;
    color: #270808;
    font-size: 13px;
}

select {
    padding: 5px 40px;
    background-color: floralwhite;
    border: solid 0.1px;
    border-radius: 5px;
    color: #270808;
    font-size: 13px;
}

.erro{
    color: red;
    font-size:12px;
}

.rodape{
    text-align:center;
    margin-top: 340px;
}