<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Liturgia</title>
    <link rel="stylesheet" href="../static/liturgia.css">
</head>
<body>
    <div class="comeco">
        <h1>PASTORAL DA LITURGIA</h1>
    </div>
    <div class="opcoes">
        <div class="listarl">
            <a href="/mostrarlistarescalali" target="meuiframe">Leitores do mês</a>
        </div>
        <br>
        <div class="listardata">
            <a href="/mostrarlistarreuniaoli" target="meuiframe">Datas de reunião</a>
        </div>
        <br>
        <div class="listarsub">
            <a href="/mostrarlistarsubsli" target="meuiframe">Substituições</a>
        </div>
    </div>
    <br>
     <div class="voltar">
            <a href="/menu">Voltar</a>
        </div>
    <iframe name="meuiframe" width="100%" height="400px"></iframe>

    <div class="rodape">
        <p>Paróquia da Sagrada Família - Tenente Ananias/RN</p>
        <p>Diocese de Santa Luzia - Mossoró/RN</p>
    </div>

</body>
</html>
