body{

    background-color: floralwhite;
    text-align: center;
}

.cabecario{
    background-color: silver;
    margin-top: 50px;
    color: snow;
}

.opcoes{
    display: inline-block;
}

.listar{

}

.rodape{
    text-align:center;
    margin-top: 280px;
}