<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Batismo</title>
    <link rel="stylesheet" href="..//static//batismo.css">
</head>
<body>
    <div class="cabecario">
        <h1>PASTORAL DO BATISMO</h1>
    </div>

    <div class="opcoes">
        <div class="adicionarb">
            <a href="/mostraradicionarb" target="meuiframe">Adicionar batizado</a>
        </div>
        <br>
        <div class="listar">
            <a href="/listarbatismos" target="meuiframe">Mostrar batizados</a>
        </div>
        <br>
        <div class="voltar">
            <a href="/menu">Voltar</a>
        </div>
        <br>
    </div>
    <iframe name="meuiframe" width="100%" height="400px"></iframe>

    <div class="rodape">
        <p>Paróquia da Sagrada Família - Tenente Ananias/RN</p>
        <p>Diocese de Santa Luzia - Mossoró/RN</p>
    </div>

    <!-- mostrar a lista -->
</body>
</html>