<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Catecumenato</title>
    <link rel="stylesheet" href="../static/catecumenato.css">
</head>
<body>
    <div class="comeco">
        <h1>PASTORAL DO CATECUMENATO</h1>
    </div>
    <p>"Que alegria saber que você faz parte dessa pastoral.Catequista é aquele que acolhe, espalha e vive a luz de Cristo"</p>
    <div class="opcoes">
        <div class="adicionarc">
            <a href="/mostraradicionarc" target="meuiframe">Adicionar catecumeno</a>
        </div>
        <br>
        <div class="listarcatecumeno">
            <a href="/listarcatecumeno" target="meuiframe">Mostrar catecumeno</a>
        </div>
        <br>
        <div class="adicionare">
            <a href="/mostraradicionare" target="meuiframe">Adicionar encontro</a>
        </div>
        <br>
        <div class="listare">
            <a href="/listarencontros" target="meuiframe"> Mostrar encontros </a>
        </div>
    </div>
    <br>
     <div class="voltar">
            <a href="/menu">Voltar</a>
        </div>
    <iframe name="meuiframe" width="100%" height="400px"></iframe>

    <div class="rodape">
        <p>Paróquia da Sagrada Família - Tenente Ananias/RN</p>
        <p>Diocese de Santa Luzia - Mossoró/RN</p>
    </div>

</body>
</html>






 <!-- <form action="/adicionarcatecumeno" method="post">
     <p> Digite o nome completo:</p>
            <input type="text" name="catecúmeno" placeholder="Digite o nome">
     <br>
      <p> Digite a data de nascimento:</p>
            <input type="text" name="datadenascimento" placeholder="Digite a data de nascimento">
        </form>
        <br>
         <p> Digite o nome do bairro:</p>
            <input type="text" name="Bairro" placeholder="Digite o bairro que reside">

    <form action="/adicionarencontro" method="post">
        <p>Digite a data do seu encontro:</p>
        <input type="text"name="encontro" placeholder="Informe a data do encontro">
    </form>
    <br>
        <p>Digite o turno do encontro:</p>
        <input type="text"name="turno" placeholder="Informe o turno do encontro">
    <br>
        <p>Digite o local:</p>
        <input type="text"name="local" placeholder="Informe o local do encontro">
    <br>
        <button type="submit">Enviar</button> -->