<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pascom</title>
    <link rel="stylesheet" href="../static/pascom.css">

</head>
<body>
    <div class="comeco">
        <h1>PASTORAL DA COMUNICAÇÃO</h1>
    </div>
    <p>"Em tudo servir a Deus com amor e alegria"</p>
    <div class="opcoes">
        <div class="listarescala">
            <a href="/mostrarlistarescalapas" target="meuiframe">Escala do mês</a>
        </div>
        <br>
        <div class="listarreuniao">
            <a href="/mostrarlistarreuniaopas" target="meuiframe">Datas de reunião</a>
        </div>
        <br>
        <div class="listarsubs">
            <a href="/mostrarlistarsubspas" target="meuiframe">Substituições</a>
        </div>
        <br>
        <div class="voltar">
            <a href="/">Voltar</a>
        </div>
        <br>
    </div>
    <br>
    <iframe name="meuiframe" width="100%" height="400px"></iframe>

    <!-- lista com as midias(pessoas) do mês -->
    <!-- lista com as datas de missas (data, horário e local) -->
    <!-- lista de substituição (nome, data, turno) -->
</body>
</html>