<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Terco</title>
    <link rel="stylesheet" href="../static/terco.css">
</head>
<body>
    <div class="comeco">
        <h1>TERÇO DA JUVENTUDE</h1>
    </div>
    <p>"Tudo com Jesus,nada sem Maria"</p>
    <div class="opcoes">
        <div class="listarmusicasterco">
            <a href="/mostrarlistarmusicasterco" target="meuiframe">Músicas do mês </a>
        </div>
        <br>
        <div class="listarescalasterco">
            <a href="/mostrarlistarescalaterco" target="meuiframe">Escala de volutários </a>
        </div>
        <br>
        <div class="listarreuniaoterco">
            <a href="/mostrarlistarreuniaoterco" target="meuiframe">Mostrar Reunião </a>
        </div>
    </div>
    <br>
     <div class="voltar">
            <a href="/menu">Voltar</a>
        </div>
    <iframe name="meuiframe" width="100%" height="400px"></iframe>


    <div class="rodape">
        <p>Paróquia da Sagrada Família - Tenente Ananias/RN</p>
        <p>Diocese de Santa Luzia - Mossoró/RN</p>
    </div>
</body>
</html>